<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <!-- Spring controllers -->
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/indexController.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/authControllerServlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth.jsp</url-pattern>
        <url-pattern>/auth.html</url-pattern>
        <url-pattern>/auth</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/registerControllerServlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
			<url-pattern>/register.jsp</url-pattern>
		<url-pattern>/register.html</url-pattern>
		<url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PropertyController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/propertyController.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropertyController</servlet-name>
        <url-pattern>/property.jsp</url-pattern>
        <url-pattern>/property.html</url-pattern>
        <url-pattern>/property</url-pattern>
        <url-pattern>/addProperty</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/profileController.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/profileEdit.jsp</url-pattern>
        <url-pattern>/profileEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OfferController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/offerController.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfferController</servlet-name>
        <url-pattern>/offer.jsp</url-pattern>
        <url-pattern>/offer</url-pattern>
        <url-pattern>/addOffer.jsp</url-pattern>
        <url-pattern>/addOffer</url-pattern>
        <url-pattern>/editOffer.jsp</url-pattern>
        <url-pattern>/editOffer</url-pattern>
        <url-pattern>/deleteOffer.jsp</url-pattern>
        <url-pattern>/deleteOffer</url-pattern>
        <url-pattern>/offerFilter.jsp</url-pattern>
        <url-pattern>/offerFilter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DealController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/dealController.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DealController</servlet-name>
        <url-pattern>/deals.jsp</url-pattern>
        <url-pattern>/deals</url-pattern>
        <url-pattern>/deal.jsp</url-pattern>
        <url-pattern>/deal</url-pattern>
        <url-pattern>/addDeal.jsp</url-pattern>
        <url-pattern>/addDeal</url-pattern>
        <url-pattern>/addDealRequest.jsp</url-pattern>
        <url-pattern>/addDealRequest</url-pattern>
        <url-pattern>/confirmDealRealtor.jsp</url-pattern>
        <url-pattern>/confirmDealRealtor</url-pattern>
        <url-pattern>/confirmDealSeller.jsp</url-pattern>
        <url-pattern>/confirmDealSeller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/userControllerServlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user_roles.jsp</url-pattern>
        <url-pattern>/user_roles</url-pattern>
        <url-pattern>/user.jsp</url-pattern>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdministrativeController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlets/administrativeControllerServlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrativeController</servlet-name>
        <url-pattern>/broker.jsp</url-pattern>
        <url-pattern>/broker</url-pattern>
        <url-pattern>/confirmDealBroker</url-pattern>
        <url-pattern>/realtor.jsp</url-pattern>
        <url-pattern>/realtor</url-pattern>
        <url-pattern>/admin_data</url-pattern>
        confirmDealBroker
    </servlet-mapping>
    <!-- Spring controllers -->
</web-app>
