*
{
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
}

h1
{
    padding: 10px;
    font-size: 32px;
}

table
{
    border-collapse: collapse;
}

a
{
    text-decoration: none;
    color: black;
}

header
{
    left: 0;
    right: 0;
    background-color: #0080ff;
    color: white;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 50px;
}

footer
{
    text-align: center;
    background-color: #0069ff;
    color: white;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
}

.buttonSimple
{
    background-color: #0094ff;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    border-width: 0;
    font-size: 20px;
    cursor: pointer;
}

.buttonSimple a
{
    color: white;
    font-size: 20px;
}

.errorMessage
{
    background-color: #ff5858;
    text-align: center;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
}

.content
{
    text-align: center;
}

.loginFormWrapper
{
    text-align: center;
    display: inline-block;
    background-color: #c5d8f5;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

#loginForm
{
    display: inline-block;
    width: 400px;
}

#loginForm table
{
    width: 100%;
}

.loginButton
{
    background-color: #0094ff;
    border-width: 0px;
    border-radius: 7px;
    padding: 4px 15px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.loginFormInput
{
    border-radius: 4px;
    font-size: 16px;
    color: black;
    padding: 2px 4px;
    margin: 2px 0px;
    border: 1px solid #AAA;
    width: 100%;
}

.headerLeftBlock
{
    display: inline-block;
}

.headerRightBlockWrapper
{
    height: auto;
    display: inline-block;
    float: right;
}

.headerRightBlock
{
    vertical-align: middle;
    padding: 5px;
}

#adminPanel
{
    background-color: forestgreen;
    padding: 3px 5px;
    color: white;
    border: 0px dashed black;
    border-bottom-width: 2px;
}

.propertyTableWrapper
{
    padding: 10px;
}

.propertyDescriptionTable
{
    display: inline-block;
    width: 100%;
    background-color: lightcyan;
}

.propertyDescriptionTableHeaderCell
{
    width: 100%;
    padding: 4px 10px;
    background-color: dodgerblue;
}

.propertyDescriptionTableHeader
{
    font-size: 24px;
    color: white;
    position: relative;
}

.propertyInfoNameCell
{
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
}

.propertyDescriptionCell
{
    padding: 0px 10px;
}

.propertyDescription
{
    padding: 5px 3px;
    font-size: 16px;
    background-color: azure;
    border: 1px solid darkslategrey;
}

.convenienceIconBackYes
{
    border: 3px solid darkslategrey;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: #69e073;
}

.error-field
{
    color: white;
    background: red;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.convenienceIconBackNo
{
    border: 3px solid darkslategrey;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: #ff584c;
}

.profileViewContent
{
    width: 95%;
    margin: 10px;
    padding: 10px;
    background-color: #c5d8f5;
    display: inline-block;
    border-radius: 10px;
}

.personalAreaLabel
{
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.personalInfoBlockWrapper
{
    display: inline-block;
    padding: 10px;
}

.personalInfoBlock
{
    background-color: #90c9ff;
    border: 1px solid dimgray;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.personalInfoField
{
    background-color: #ddd;
    padding: 2px 4px;
    border: 1px double gray;
}

.profileLogin
{
    font-weight: bold;
    padding-bottom: 10px;
}

.contactInfoBlock
{
    padding: 5px 0;
}

.contactInfoBlockName
{
    display: inline-block;
    width: 100px;
}

.grayHeaderButton
{
    background-color: #9dbed3;
    font-size: 16px;
    color: black;
    padding: 4px 8px;
}

.grayHeaderButton a
{
    font-size: 16px;
    color: black;
}

.contactInfoBlockNameDiv
{
    display: inline-block;
    width: 100px;
}

.contactInfoBlockValueDiv
{
    display: inline-block;
    padding: 2px 0;
}

.contactInfoBlockValueInput
{
    padding: 3px 5px;
    height: 25px;
    font-size: 16px;
    font-family: Tahoma;
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.personalInfoTextInput
{
    padding: 3px 5px;
    width: 100%;
    height: 100px;
    font-size: 16px;
    max-width: 900px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.filterContentWrapper
{
    height: auto;
    overflow: hidden;
}

.filterBlockWrapper
{
    float: left;
    width: 600px;
    padding: 10px;
    margin-left: 10px;
    background-color: #9dbed3;
    border-radius: 10px;
}

.filterResultWrapper
{
    float: none;
    width: auto;
    overflow: hidden;
    padding: 10px;
}

.criteriaBlock
{
    padding: 2px 0;
    text-align: left;
}

.criteriaLabel
{
	display: inline-block;
	width: 300px;
	text-align: left;
    vertical-align: middle;
}

.criteriaValue
{
    text-align: right;
	display: inline-block;
	width: 290px;
}

.criteriaRangeWrapper
{
    text-align: right;
    display: inline-block;
    width: 290px;
}

.criteriaRangeInputLeft
{
    width: 140px;
    margin-right: 2px;
}

.criteriaRangeInputRight
{
    width: 140px;
    margin-left: 2px;
}

.criteriaInput
{
	border: 1px solid #003a98;
	border-radius: 5px;
	font-size: 16px;
    padding: 3px 5px;
    display: inline-block;
}

.filter-criteria-select
{
    border-radius: 4px;
    font-size: 16px;
    color: black;
    padding: 2px 4px;
    margin: 2px 0px;
    border: 1px solid #003a98;
    width: 100%;
}

.property-form-wrapper
{
    text-align: center;
    display: inline-block;
    background-color: #c5d8f5;
    border-radius: 10px;
    padding: 5px 10px;
}

#property-form
{
    display: inline-block;
    width: 500px;
}

#property-form table
{
    width: 100%;
}

.property-form-button
{
    background-color: #0094ff;
    border-width: 0px;
    border-radius: 7px;
    padding: 4px 15px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.property-form-input
{
    border-radius: 4px;
    font-size: 16px;
    color: black;
    padding: 2px 4px;
    margin: 2px 0px;
    border: 1px solid #AAA;
    width: 100%;
}

.property-form-checkbox {
    display: none;
}

.property-form-checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    background: white;
}

.property-form-checkbox:checked + .property-form-checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;

    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background: #0094ff;
    border-radius: 2px;
}

.property-form-textarea
{
    border-radius: 4px;
    font-size: 16px;
    color: black;
    padding: 2px 4px;
    margin: 2px 0px;
    border: 1px solid #AAA;
    width: 100%;
    resize: none;
}

.criteriaCheckbox
{
    border: 1px solid black;
    border-radius: 5px;
}

.filterCriteriaLabel
{
    font-size: 24px;
    color: #222222;
    padding-bottom: 15px;
}

.comfortsLabel
{
    font-size: 20px;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
}

.siteDescriptionArea
{
    text-align: left;
    font-size: 18px;
    margin: 15px 20px;
    padding: 15px;
    background-color: #9dbed3;
    border-radius: 10px;
}

.offer-view-short-container
{
    background-color: #cfafff;
    display: inline-block;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 6px;
    position: relative;
}

.offers-container
{
    margin: 15px 10px;
    text-align: left;
}

.unauthorized-message-container
{
    padding: 10px 0;
}

.add-offer-form-wrapper
{
    width: 1000px;
    text-align: left;
    display: inline-block;
    background-color: #9dbed3;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.delete-button
{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.delete-button-full
{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.pen-button
{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 24px;
    top: -10px;
}

.pen-button-full
{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 32px;
    top: 0px;
}

.user-short-info-block
{
    background-color: #90c9ff;
    border: 1px solid dimgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.user-short-info-login{
    border-width: 0;
    background: #90c9ff;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

.user-short-info-login:read-only{
    color: black;
}

.user-short-info-select{
    border-radius: 4px;
    font-size: 16px;
    color: black;
    padding: 2px 4px;
    margin: 2px 0px;
    border: 1px solid #AAA;
    width: 50%;
}

.user-short-info-button{
    background-color: #0094ff;
    border-width: 0px;
    border-radius: 7px;
    padding: 4px 15px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.user-short-info-button:disabled{
    background-color: #AFAFAF;
    border-width: 0px;
    border-radius: 7px;
    padding: 4px 15px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}
  
.broker-view-wrapper
{
    margin: 20px;
    padding: 10px;
    background-color: #c5d8f5;
    border-radius: 10px;
    text-align: left;
}

.deal-short-view
{
    background-color: lightsalmon;
    margin: 3px 0px;
    border: 1px solid crimson;
    padding: 3px 5px;
    font-size: 16px;
}

.deal-short-view-header
{
    font-weight: bold;
    padding-bottom: 4px;
}

.deal-short-view-info
{
    padding-left: 10px;
}

.deal-short-view-property-name
{
    font-weight: bold;
    padding-right: 25px;
}

.deal-short-view-property-value
{

}

.deal-broker-confirm-button
{
    background-color: #d32f08;
    font-size: 16px;
    color: white;
    padding: 4px 8px;
    font-weight: bold;
}


.admin-data-table
{
    border-collapse: initial;
    border: 1px solid black;
}

.admin-data-column-name
{
    border-collapse: initial;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: #0094ff;
}

.admin-data-column-field
{
    border-collapse: initial;
    border: 1px solid black;
    text-align: center;
    background-color: #90c9ff;
}
